<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Features | Kharat</title>

    <link rel="stylesheet" href="/css/features.css">
    <link rel="stylesheet" href="/css/navbar.css">

    
</head>

<body><%
const features = [
    {
        icon: "🛡️",
        title: "Moderation",
        description: " server  moderation commands.",
        link: "/commands"
    },
    {
        icon: "🎫",
        title: "Tickets",
        description: "coming soon"
    },
    {
        icon: "📜",
        title: "Logging",
        description: "coming soon"
    },
    {
        icon: "🤖",
        title: "Automation",
        description: "coming soon"
    },
    {
        icon: "📊",
        title: "Statistics",
        description: "coming soon"
    },
    {
        icon: "🎉",
        title: "Giveaways",
        description: "coming soon"
    },
    {
        icon: "⚙️",
        title: "Custom Commands",
        description: "coming soon"
    },
    {
        icon: "🔒",
        title: "Security",
        description: "coming soon"
    }
];
%>

<div class="container">

    <%- include("../partials/navbar") %>

    <section class="feature-hero">

    </section>

    <section class="features-grid">

       <% features.forEach(feature => { %>
    <% if (feature.link) { %>
        <div class="feature-card">
            <div class="icon"><%= feature.icon %></div>
            <a href="<%= feature.link %>" ><h3><%= feature.title %></h3></a>
            <p><%= feature.description %></p>
        </div>
    <% } else { %>
        <div class="feature-card">
            <div class="icon"><%= feature.icon %></div>
            <h3><%= feature.title %></h3>
            <p><%= feature.description %></p>
        </div>
    <% } %>
<% }) %>

    </section>



    <section class="cta">

        <h2>Ready to upgrade your Discord server?</h2>

        <p>
            Invite Kharat today and unlock powerful moderation,
            automation and server management tools.
        </p>

        <div class="buttons">
            <a href="/invite" class="primary">Invite Kharat</a>
            <a href="/dashboard" class="secondary">Dashboard</a>
        </div>

    </section>

</div>
</body>
</html>